.people-info-container {
    max-width: 1550px;
    margin: 0 auto;
    padding: 20px;
    background-color: #7a9494d0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-title {
    text-align: center;
    font-size: 24px;
    color: #ffffff9a;
    margin-bottom: 20px;
}

.home-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto 0;
}

.loading {
width: 300px;
}